<%- include("./partials/head.ejs")%>

<%- include("./partials/header.ejs")%>

<main>
        <div class="linea-divobj"></div>

        <!-- <div>
            <h2 class="titulos-categorias">Resultados de :<%- busqueda%></h2>
                <seccion class="secciones">
                    <% activo.forEach(function(product){ %>

                            <article class="items-venta">
                                <div class="item-img"><img src="/images/productos/<%= product.imagenProducto %>" alt="..."></div>
                                <div class="precio"><p>$<%=divisorNumerico(product.precioProducto) %></p></div>
                                <div class="descripciones"><p><%= product.nombreProducto %></p></div>
                                <a href="/productos/details/<%= product.id %>"><button>Detalles</button></a>
                            </article>
                            
                    <% }) %>
                </seccion>

            <div class="linea-divobj"></div>
        </div>
        -->

        

    </div>
</main>
    
<%- include ("./partials/footer.ejs")%> 
    